@import "./../../../theme";

.CForm{

    max-width: 500px;
    &-Top{
        min-height: 30px;
        padding: 0.5rem 0;
    }

    &-Aside{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &-Left{
          width: 180px;
          height: 180px;
        }
        &-Right{
            padding-left: 20px;
            width: calc( 100% - 180px);
        }
      }
      .placeholder{
          background: lighten(#000000, 30%);
          height: 100%;
          width: 100%;
          color: white;
          border-radius: 10px;
          display: flex;
          align-items:center;
          justify-content: center; 
      }
}