.MainLayout {
    &-Contents {
        display: block;
        margin: auto;
        padding: 1rem 10px;
        min-height: calc( 100vh - 50px - 50px - 1rem)
    }

    @media (min-width: 600px) {
        .MainLayout-Contents {
            max-width: 60%;
        }
    }

    &-Footer{

    }

}