@import "./../../../theme";

.Header {
    &-Containter {
        background: #fafafa;
        padding: 0.6rem 20px;

        &-H {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            vertical-align: middle;
            max-height: 50px;
            // 
            max-width: 997px;
            margin: auto;
        }
    }



    &-Logo {
        padding: 2px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 50px
        }
    }

    &-Dropdown {
        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: transparent;
            border: 0px;
            justify-content: space-between;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
        .Name{
            padding: 5px;
            text-transform: capitalize;
        }
        .Carret{
            color: $primary;
        }
    }
}