@import "./../../../theme";

.ContactList{
    &-Middle{
        display: flex;
        &-L{
            width: 200p;
            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 4px;
            }
        }
        &-R{
            padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
            &-B{
                display: flex;
                flex-direction: row;
                button{
                    padding: 10px;
                    margin-right: 10px;
                    border-radius: 4px;
                    color: #45ddbf;
                    background: transparent;
                    border: 0px;
                    transition: 500ms ease;
                    
                  &:hover{
                      opacity: 0.7;
                  }
                  .mdi{
                      font-size: 20px;
                      font-weight: bold;
                  } 
                }
            }
        }
    }
    &-Bottom{
        padding: 10px 0;
    }
    &-Det{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0px;
          .mdi{
            margin-right: 10px;
            font-size: 32px;
            color: black;
            }

            &-A{
                display: block;
                &-T{

                }
                &-L{
                    opacity: 0.5;
                }
            }
    }

}