@import "./../../../theme";

.Phone-Table {
    width: 100%;
    border-spacing: 0;

    thead {
        padding: 0.4rem;
        background: $primary;
        color: #f3f8f5;

        td {
            padding: 0.8rem 1rem;
        }
    }

    tbody {
        tr {
            transition: 300ms ease;

            &:hover {
                background: #f3f8f5;
            }
        }

        td {
            &:first-child {
                display: flex;
                align-items: center;
            }

            border-bottom: 2px solid #f3f8f5 !important;

        }
    }

    td {
        padding: 0.6rem 1rem;
    }
}

// the btns
.Phone-Table {
    .btn {
        background: transparent;
        border: 0;

        .mdi {
            font-size: 21px
        }
    }

    .btn.edit {
        color: $primary;
        &:hover {
            background: rgba($primary, 0.219)
        }
    }

    .btn.delete {
        color: rgb(194, 61, 61);

        &:hover {
            background: rgba(255, 0, 0, 0.219)
        }
    }
}

// ContactAvatar
// ContactAvatar
.ContactAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #45ddbf33;
    color: #00305a;
    border-radius: 40px;
    font-size: 16px;
    margin: 2px 15px;
}
.ContactAvatar.ContactAvatar-Lts{
    padding: 10px;
}
.ContactAvatar img{
    border-radius: 100%!important;
}


.Clickable {
    cursor: pointer;
}